:root
{
  overscroll-behavior: none;
  background-color: black;
  scroll-behavior: smooth;
}

/* -- logos */
@keyframes marqueeRight
{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
